<div class="container">
  <h1>Fantasy Bestiary Database</h1>

  <section>
    <h2>Description</h2>
    <p>
      This repository contains monster and treasure data for the second edition
      of the world's most popular fantasy roleplaying game.
    </p>
  </section>

  <section>
    <h2>Metadata</h2>
    <ul>
      <li><b>Data License:</b> OGL (Open Gaming License)</li>
      <li><b>Software License:</b> MIT</li>
      <li><b>Author:</b> Jakov Matošić</li>
      <li><b>Dataset Version:</b> 1.0</li>
      <li><b>Data Language:</b> English</li>
      <li>
        <b>Data Source:</b> second edition of the world's most popular fantasy
        roleplaying game's bestiary
      </li>
      <li><b>Date Added:</b> 30.10.2023</li>
      <li><b>Date Updated:</b> 30.10.2023</li>
    </ul>
  </section>
</div>

<div class="container">
  <div class="download-section">
    <p class="title">Download Data:</p>
    <ul class="list">
      <li class="list-item">
        <a
          href="../../../assets/fantasy_bestiary.csv"
          download="fantasy_bestiary.csv"
          class="link"
          *ngIf="!otherButton"
          >Download CSV</a
        >
      </li>
      <li class="list-item">
        <a
          href="../../../assets/fantasy_bestiary.json"
          download="fantasy_bestiary.json"
          class="link"
          *ngIf="!otherButton"
          >Download JSON</a
        >
      </li>
      <li class="list-item">
        <a (click)="downloadCsvFile()" class="link" *ngIf="otherButton"
          >Download CSV</a
        >
      </li>
      <li class="list-item">
        <a (click)="downloadJsonFile()" class="link" *ngIf="otherButton"
          >Download JSON</a
        >
      </li>
    </ul>
  </div>
  <div class="buttons-section">
    <ng-container *ngIf="auth.isAuthenticated$ | async">
      <button class="button-red" (click)="auth.logout()">Log out</button>
    </ng-container>

    <button
      class="button"
      *ngIf="!(auth.isAuthenticated$ | async)"
      (click)="auth.loginWithPopup()"
    >
      Login
    </button>
    <button class="button" *ngIf="auth.isAuthenticated$ | async" (click) = "router.navigate(['/profile'])">
      Profile
    </button>
    <button
      class="button"
      (click)="refreshDownloads()"
      *ngIf="auth.isAuthenticated$ | async"
    >
      Refresh Downloads
    </button>
  </div>
</div>
