<div class="grid-container">
  <div class="filter-container">
    <label for="columnFilter" class="filter-label">Filter by Column:</label>
    <select
      id="columnFilter"
      [(ngModel)]="selectedColumn"
      class="filter-dropdown"
    >
      <option value="All">All</option>
      <option *ngFor="let column of displayedColumns" [value]="column">
        {{ column }}
      </option>
    </select>
  </div>

  <form #myform="ngForm" (ngSubmit)="filterData(myform)" class="search-form">
    <button type="button" class="yellow-button" (click)="downloadCsvFile()">
      Download CSV
    </button>
    <button type="button" class="yellow-button" (click)="downloadJsonFile()">
      Download JSON
    </button>
    <input type="submit" value="Search" class="search-button" />
    <textarea
      name="filterValue"
      placeholder="Enter filter text here...."
      ngModel
      class="filter-textarea"
    ></textarea>
  </form>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- No. Column -->
  <ng-container matColumnDef="monsterId">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.monsterId }}
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.monster.name }} </mat-cell>
  </ng-container>

  <!-- Frequency Column -->
  <ng-container matColumnDef="frequency">
    <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.frequency }}
    </mat-cell>
  </ng-container>

  <!-- Activity Cycle Column -->
  <ng-container matColumnDef="activityCycle">
    <mat-header-cell *matHeaderCellDef> Activity Cycle </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.activityCycle }}
    </mat-cell>
  </ng-container>

  <!-- Number Appearing Column -->
  <ng-container matColumnDef="numberAppearing">
    <mat-header-cell *matHeaderCellDef> Number Appearing </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.numberAppearing }}
    </mat-cell>
  </ng-container>

  <!-- Alignment Column -->
  <ng-container matColumnDef="alignment">
    <mat-header-cell *matHeaderCellDef> Alignment </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.alignment }}
    </mat-cell>
  </ng-container>

  <!-- Armor Class Column -->
  <ng-container matColumnDef="armorClass">
    <mat-header-cell *matHeaderCellDef> Armor Class </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.armorClass }}
    </mat-cell>
  </ng-container>

  <!-- Movement Column -->
  <ng-container matColumnDef="movement">
    <mat-header-cell *matHeaderCellDef> Movement </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.movement }}
    </mat-cell>
  </ng-container>

  <!-- Hit Dice Column -->
  <ng-container matColumnDef="hitDice">
    <mat-header-cell *matHeaderCellDef> Hit Dice </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.hitDice }}
    </mat-cell>
  </ng-container>

  <!-- Thaco Column -->
  <ng-container matColumnDef="thaco">
    <mat-header-cell *matHeaderCellDef> Thaco </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.monster.thaco }} </mat-cell>
  </ng-container>

  <!-- Attack Column -->
  <ng-container matColumnDef="attack">
    <mat-header-cell *matHeaderCellDef> Attack </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.attack }}
    </mat-cell>
  </ng-container>

  <!-- Size Column -->
  <ng-container matColumnDef="size">
    <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.monster.size }} </mat-cell>
  </ng-container>

  <!-- Morale Column -->
  <ng-container matColumnDef="morale">
    <mat-header-cell *matHeaderCellDef> Morale </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.morale }}
    </mat-cell>
  </ng-container>

  <!-- Experience Column -->
  <ng-container matColumnDef="experience">
    <mat-header-cell *matHeaderCellDef> Experience </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.monster.experience }}
    </mat-cell>
  </ng-container>

  <!-- Treasure Types Column -->
  <ng-container matColumnDef="treasure_types">
    <mat-header-cell *matHeaderCellDef> Treasure Types </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- Display the treasure types as buttons -->
      <button
        mat-raised-button
        color="primary"
        *ngFor="let treasureType of element.treasures"
        (click)="showTreasure(treasureType)"
      >
        {{ treasureType.treasureTypeName }}
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
