<!-- YourDialog.component.html -->

<div class="treasure-dialog">
    <h2>{{ data.treasureType.treasureTypeName }}</h2>
  
    <div class="treasure-details">
      <div class="column">
        <p><strong>Copper Range:</strong> {{ data.treasureType.copperRange }}</p>
        <p><strong>Silver Range:</strong> {{ data.treasureType.silverRange }}</p>
        <p><strong>Gold Range:</strong> {{ data.treasureType.goldRange }}</p>
        <p>
          <strong>Electrum Range:</strong> {{ data.treasureType.electrumRange }}
        </p>
        <p><strong>Gems Range:</strong> {{ data.treasureType.gemsRange }}</p>
        <p>
          <strong>Art Objects Range:</strong>
          {{ data.treasureType.artObjectsRange }}
        </p>
        <p>
          <strong>Item Description:</strong>
          {{ data.treasureType.itemDescription }}
        </p>
      </div>
      <div class="column">
        <p>
          <strong>Percentage Copper:</strong>
          {{ data.treasureType.percentageCopper }}%
        </p>
        <p>
          <strong>Percentage Silver:</strong>
          {{ data.treasureType.percentageSilver }}%
        </p>
        <p>
          <strong>Percentage Gold:</strong>
          {{ data.treasureType.percentageGold }}%
        </p>
        <p>
          <strong>Percentage Electrum:</strong>
          {{ data.treasureType.percentageElectrum }}%
        </p>
        <p>
          <strong>Percentage Gems:</strong>
          {{ data.treasureType.percentageGems }}%
        </p>
        <p>
          <strong>Percentage Art Objects:</strong>
          {{ data.treasureType.percentageArtObjects }}%
        </p>
        <p>
          <strong>Percentage Item:</strong>
          {{ data.treasureType.percentageItem }}%
        </p>
      </div>
    </div>
  </div>
  